no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$UqWIykK6qZ4sDDHF$bBVCUG7HLGt/n9be7FXKi0aqrC4nGc/PM3ViGvLZB8LnW5Za88hYVgOFqL22tmCUSN0CbAec1ASQ0eSFkcFpH1
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ hostname }}
!
spanning-tree mode mstp
!
management api http-commands
   no shutdown
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
{% if interfaces %}
{% for intf in interfaces %}
!
interface {{ intf['name'] }}
{% if intf['description'] %}
   description {{ intf['description'] }}
{% endif %}
{% if intf['mtu'] %}
   mtu {{ intf['mtu'] }}
{% endif %}
{% if intf['ip_addresses'] %}
{% for ip_addr in intf['ip_addresses'] %}
   ip address {{ ip_addr.address }}
{% endfor %}{% endif %}{% endfor %}{% endif %}
!
no ip routing
!
end

