no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$UqWIykK6qZ4sDDHF$bBVCUG7HLGt/n9be7FXKi0aqrC4nGc/PM3ViGvLZB8LnW5Za88hYVgOFqL22tmCUSN0CbAec1ASQ0eSFkcFpH1
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
management api http-commands
   no shutdown
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
!
hostname {{ hostname }}
!
{% if config_context['timezone'] %}
clock timezone {{ config_context['timezone'] }}
{% endif %}
{% for ntp_server in config_context['ntp_servers']%}
ntp server {{ ntp_server }}
{% endfor %}
!
{% for name_server in config_context['name_servers']%}
ip name-server {{ name_server }}
{% endfor %}
!
{% if interfaces %}
{% for intf in interfaces %}
interface {{ intf['name'] }}
{% for ip_addr in intf['ip_addresses'] %}
   ip address {{ ip_addr[0] }}
{% endfor %}
{% endfor %}
{% endif %}
